.admin-users-avatar{
  width: 100px;
  height: 100px;
}

.all-users-card{
  width: 350px;
}

.all-users-title-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  @media (max-width: 425px) {
    flex-direction: column;
  }
}

.all-users-btns{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}