html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}

header{
  display: flex;
  align-items: center;
  min-height: 85px;
}
main {
  flex: 1;
}

footer {
}
a{
  text-decoration: none;
}

ul{
  li{
    list-style: none;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dot:after{
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 20px;
    background-color: black;
    border-radius: 12px;
    top: 10px;

    @media (max-width: 1024px) {
      top: 9px;
    }

    @media (max-width: 768px) {
      top: 7px;
    }

    @media (max-width: 425px) {
      top: 5px;
    }
}







