.card-container {
  gap: 1rem;
  .card{
    .home-card-img{
      max-height: 170px;
    }
    max-width: 19rem;
    
    @media (max-width: 1024px) {
      max-width: 18rem;
    }

    @media (max-width: 768px) {
      max-width: 18rem;
    }

    @media (max-width: 425px) {
      max-width: 20rem;
    }
  }
}



